@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 body {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color:rgb(14, 9, 39)
 }

 form {
    width: 400px;
    background-color: rgb(14, 9, 39);
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 6px 8px 12px rgb(1, 163, 150), -5px 0 12px rgb(1, 163, 150);
 }

 form h2 {
     text-align: center;
     margin-bottom: 15px;
     color: rgb(1, 163, 150);
     font-size: 30px;
 }

 input {
     margin-bottom: 12px;
     color: white;  /* Cor do texto digitado */
     height: 40px;
     padding-left: 10px;
     font-size: 14px;
     border: 1px solid rgb(1, 163, 150);
     background-color: rgb(14, 9, 39);
     border-radius: 2px;
     outline: none;
 }

 input[type='submit'] {
     height: 46px;
     background-color: rgb(1, 163, 150);
     color: rgb(14, 9, 39);
     font-size: 16px;
     cursor: pointer;
     padding-left: 0;
     border-radius: 6px;
 }

 a{
    color: rgb(1, 163, 150);
    font-size: 10px;
 }

 a [href='.\\Login.html']{
    color: rgb(1, 163, 150);
    font-size: 10px;
 }

 input[type='button']{
    height: 40px;
    background-color: rgb(1, 163, 150);
    color: rgb(14, 9, 39);
    font-size: 16px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
 }

 div{
    padding-left: 50px;
    padding-right: 50px;
 }